@model List<Web_Proje.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Liste</h1>
<br/>
<table class=" tabel table bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Ad</th>
        <th>Silme</th>
        <th>Güncelleme</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <th>@x.CategoryID</th>
            <th>@x.CategoryName</th>
            <td><a href ="#" class="btn btn-danger">Silme</a></td>
            <td><a href ="#" class="btn btn-success">Güncelleme</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Kategori Ekle</a>
